---
# Only the main Sass file needs front matter (the dashes are enough)
---

$sans-serif: 'RIDIBatang';
$monospace: 'Cascadia Code PL';

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
    font-family: 'RIDIBatang';
    src: url('/assets/fonts/RIDIBatang/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cascadia Code PL';
    src: url('/assets/fonts/Cascadia/CascadiaCodePL.woff2') format('woff2'),
         url('/assets/fonts/Cascadia/CascadiaCodePL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}