---
# Only the main Sass file needs front matter (the dashes are enough)
---

$sans-serif: 'RIDIBatang';
$monospace: 'Cascadia Code PL';

// color
$primary-color: #E69587;
$text-color: #eaeaea;
$link-color: $primary-color;
$link-color-visited: $primary-color;
$active-color: #3a3f48;

// code-block color
$base00: #212121;
$base01: #82aaff;
$base02: #4a4a4a;
$base03: #82AAFF;
$base04: #89DDFF;
$base05: #C3E88D;
$base06: #C792EA;
$base07: #F07178;
$base08: #FFFFFF;
$base09: #FFCB6B;
$base0a: #89DDFF;
$base0b: #C3E88D;
$base0c: #C792EA;
$base0d: #F07178;
$base0e: #EEFFFF;
$base0f: #FFCB6B;

// type scale
$type-size-1  : 2.441em;  // 2.441em;
$type-size-2  : 1.953em;  // 1.953em;
$type-size-3  : 1.4em;    // 1.563em;
$type-size-4  : 1.2em;    // 1.25em;
$type-size-5  : 0.9em;    // 1em;
$type-size-6  : 0.75em;   // 0.75em;
$type-size-7  : 0.6875em; // 0.6875em;
$type-size-8  : 0.625em;  // 0.625em;

/* headline scale */
$h-size-1: 1.4em;    // 1.563em;
$h-size-2: 1.2em;    // 1.25em;
$h-size-3: 1.1em;    // 1.125em;
$h-size-4: 1.05em;   // 1.0625em;
$h-size-5: 1.025em;  // 1.03125em;
$h-size-6: 1.0125em; // 1em;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
    font-family: 'RIDIBatang';
    src: url('/assets/fonts/RIDIBatang/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cascadia Code PL';
    src: url('/assets/fonts/Cascadia/CascadiaCodePL.woff2') format('woff2'),
         url('/assets/fonts/Cascadia/CascadiaCodePL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// toc
.toc {
    .nav__title {
        background: mix(#000, $primary-color, 20%);
    }
}

// sidebar
.sidebar-hits{
    height: 20px;
    margin-bottom: 20px;
}

.sidebar-hits img{
    width: auto;
}

// font size
html {
    font-size: 14px;
  
    @include breakpoint($medium) {
      font-size: 16px;
    }
  
    @include breakpoint($large) {
      font-size: 18px;
    }
  
    @include breakpoint($x-large) {
      font-size: 20px;
    }
  
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }